body{
	background-color: #cccccc;
  	font-family: Calibri, Verdana, sans-serif;
}
.cinema{
	padding: 20px 40px;
	width: 900px;
	margin: 20px auto;  
	background-color: #ffffff;
}
.cinema img{
	max-width: 300px;
	float: left;
	margin: 20px;
}
.cinema:after{
	content: " ";
	clear: both;
	display: block;
}
